<div class="outer-container">
<div class="container">
  <div class="image-container">
    <img [src]="imageUrl" alt="Holy Angel University">
    <div class="text-container">
      <h2>HOLY ANGEL UNIVERSITY</h2>
      <h3>COLLEGE OF CRIMINAL JUSTICE EDUCATION AND FORENSICS</h3>
      <p>&copy; 2024 CCJEFLABSOLUTIONS. All rights reserved.</p>
    </div>
  </div>
    <div class="login-form">
        <!-- <div class="cancel-button-div">
                <i class="fa fa-times" aria-hidden="true"></i>
        </div> -->
        <h2>Sign In</h2>
        <div class="content">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" required #UserName> <br>
      
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" required #Password> <br>
            <div class="form-check">
              <input type="checkbox" id="termsCheckbox" name="termsCheckbox" required [(ngModel)]="termsAgreed">
              <label for="termsCheckbox">I agree to the <a routerLink="/terms">Terms and Conditions</a></label>
            </div>
              
            <button type="submit" (click)="OnLoginClicked()">Login</button>
            <!-- <a routerLink="/register">Register</a> -->
            <button type="button" ><a [routerLink]="['/register']">Register</a></button>   
          </div>
    </div>

</div>
</div>
