<div class="container">
    <h1>Terms and Conditions</h1>

    <div class="section">
      <h2>1. Information We Collect:</h2>
      <p>We may collect personal information including but not limited to your name, birthday, ID number, section, and program.</p>
    </div>

    <div class="section">
      <h2>2. Purpose of Collection:</h2>
      <p>The information collected is used for monitoring requisitions and requests from students..</p>
    </div>

    <div class="section">
      <h2>3. Consent:</h2>
      <p>By providing your information, you consent to the collection, processing, and use of your personal information in accordance with these terms.</p>
    </div>

    <div class="section">
      <h2>4. Use of Information:</h2>
      <p>Your information will be used solely for the purpose for which it was collected, and it will not be shared with third parties without your explicit consent.</p>
    </div>

    <div class="section">
      <h2>5. Security Measures:</h2>
      <p>We employ reasonable security measures to protect your information from unauthorized access, disclosure, alteration, or destruction.</p>
    </div>

    <div class="section">
      <h2>6. Retention:</h2>
      <p>We will retain your information only for as long as necessary for the purposes outlined in these terms.</p>
    </div>

    <div class="section">
      <h2>7. Access and Correction:</h2>
      <p>You have the right to access and correct your personal information. If you would like to review or update your information, you can login and update your profile.</p>
    </div>

    <div class="section">
      <h2>8. Children's Privacy:</h2>
      <p>Our services are not directed to individuals under the age of 13. We do not knowingly collect personal information from children. If you are a parent or guardian and become aware that your child has provided us with personal information, please contact us to have it removed.</p>
    </div>

    <div class="section">
      <h2>9. Changes to Terms:</h2>
      <p>We reserve the right to update or modify these terms and conditions. Any changes will be effective upon posting the revised terms on our website.</p>
    </div>

    <div class="section">
        <h2>10. Contact Information:</h2>
        <p>If you have any questions or concerns regarding these terms, please contact us at andrew.macapagal19&#64;gmail.com.</p>
    </div>

    <div class="copyright">
        <p>&copy; 2024 CCJEFLABSOLUTIONS. All rights reserved.</p>
    </div>
  </div>
